.vs/
bin/
obj/
out/
*.user
PythonService/Model/.env
PythonService/Model/model.safetensors
PythonService/Model/config.json
PythonService/Model/generation_config.json
PythonService/Model/tokenizer_config.json
PythonService/Model/tokenizer.json
PythonService/Model/__pycache__
PythonService/__pycache__
wwwroot/uploads/
wwwroot/homeworks/
